
body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1166px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header*/

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
}

.header-menu-list{
display: flex;
gap: 24px;
}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em; 
}

.header-logo {
    color: #111;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em; 
        display: flex;
        align-items: center;
        gap: 4px;
}

.header-logo-italic {
        font-style: italic;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
    justify-content: space-between;
}

.header-soc-list {
    display: flex;
    gap: 14px;
    align-items: center;
}

/* hero */

.hero {
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-container {
    background-color: rgba(17, 17, 17, 0.60);
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
max-width: 484px;
margin-bottom: 32px;
}

.hero-btn {
color: #FFF;
font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border: none;
    border-radius: 100px;
        background: #FD9222;
        padding: 14px 40px;
        margin-right: 14px;

}

.hero-made-link {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 14px 40px;
}

.hero-scrol-link {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.03em;
        margin-left: auto;

}

.hero-buttons {
    display: flex;
    align-items: center;
}

/* features */

.features {
background-color: #1E1823;
padding-top: 50px;
padding-bottom: 50px;
}

.features-list {
display: flex;
gap: 88px;
padding: 0 18px;
}

.features-item {
    width: calc((100% - 176px) / 3);
}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* taste */

.taste {
    padding-top: 120px;
    padding-bottom: 60px;
}

.taste-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em; 
        text-transform: uppercase;
        max-width: 412px;
        margin: 0 auto;
        margin-bottom: 28px;
}

.taste-title span{
    color: #FD9222;
}

.taste-text {
    color: #111;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em; 
        margin-bottom: 50px;
        max-width: 486px;
        margin: 0 auto;
}

.taste-list {}

.taste-item {}

.taste-img {}

.taste-subtitle {
    color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

/* made */

.made {
    padding-top: 60px;
    padding-bottom: 60px;
}

.made-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
max-width: 205px;
margin: 0 auto;
margin-bottom: 50px;
}

 .made-title span {
color: #FD9222;
 }

.made-img {}

.made-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33; 
        max-width: 350px;  
        margin-bottom: 28px;
}

.made-list {}

.made-item {}

.made-item-text {
    color: #111;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

/* products */
.products {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 0 auto;
}

.products-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em; 
    text-transform: uppercase;
    max-width: 196px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.products-title span {
color: #FD9222;
}

.products-list {}

.products-item {}

.products-img {}

.products-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em; 
        text-transform: uppercase;
}

.products-text {
    color: rgba(17, 17, 17, 0.70);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: -0.02em; 
}

.products-price {
    color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
}

/* bestseller */

.bestseller {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.bestseller-title {   
  color:  #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        max-width: 160px;
        margin: 0 auto;
        margin-bottom: 50px;
}

.bestseller-title span{
    color: #FD9222;
}

.bestseller-list {}

.bestseller-item {}

.bestseller-img {}

.bestseller-subtitle {}

/* review */

.review {
   padding-top: 60px;
   padding-bottom: 120px;
    margin: 0 auto;
}

.review-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}

.review-title span{
color: #FD9222;
max-width: 268px;
margin: 0 auto;
margin-bottom: 50px;
}

.review-list {}

.review-item {}

.review-img {}

.review-subtitle {
color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.review-text {
    color: rgba(17, 17, 17, 0.70);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

.review-btn {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
}

/* footer */

.footer {
background-color: #1E1823; 
padding-top: 50px;
padding-bottom: 50px;
margin: 0 auto;
}

.footer-title {
    color: #FFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21; 
        letter-spacing: -0.02em; 
        max-width: 300px;
}
.footer-title span{
    color: #FD9222;
}

.footer-subtitle {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
}

.footer-social-list {}

.footer-social-item {}

.footer-social-link {}

.footer-adress {}

.footer-adress-list {}

.footer-adress-item {}

.footer-adress-link {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-item {}

.footer-nav-link {
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
}