
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {display: block;}

.container {
    max-width: 1166px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header*/

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
}

.header-menu-list{
display: flex;
gap: 24px;
}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em; 
}

.header-logo {
    color: #111;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em; 
        display: flex;
        align-items: center;
        gap: 4px;
}

.header-logo-italic {
        font-style: italic;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
    justify-content: space-between;
}

.header-soc-list {
    display: flex;
    gap: 14px;
    align-items: center;
}

.social-icon {
    fill: transparent;
    stroke: #111;
    transition-property: stroke;
        transition-duration: 400ms;
        transition-timing-function: linear;
}

.social-icon:hover {
    fill: transparent;
    stroke: #FD9222;

}
/* hero */

.hero {
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-container {
    background-color: rgba(17, 17, 17, 0.60);
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../images/chocolate_main-min.jpg) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
max-width: 484px;
margin-bottom: 32px;
}

.hero-btn {
color: #FFF;
font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 100px;
        background: #FD9222;
        padding: 14px 40px;
        margin-right: 14px;
        transition-property: background-color, color;
        transition-duration: 400ms;
        transition-timing-function: linear;

}

.hero-btn:hover {
background-color: #FCF1E0;
color: #FD9222;
}

.hero-made-link {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 14px 40px;
    transition-property: border, color;
transition-duration: 400ms;
transition-timing-function: linear;
}

.hero-made-link:hover {
border: 1px solid #FD9222;
    color: #FD9222;
}

.hero-scrol-link {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.03em;
        margin-left: auto;

}

.hero-buttons {
    display: flex;
    align-items: center;
}

/* features */

.features {
background-color: #1E1823;
padding-top: 50px;
padding-bottom: 50px;
}

.features-list {
display: flex;
gap: 88px;
padding: 0 18px;
}

.features-item {
    width: calc((100% - 176px) / 3);
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.features-item-icon {
border: 1px solid rgba(255, 255, 255, 0.50);
border-radius: 100%;
margin-bottom: 22px;
flex-shrink: 0;
display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
}

.features-icon {
fill: transparent;
    stroke: #FD9222;
}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* taste */

.taste {
    padding-top: 120px;
    padding-bottom: 60px;
}

.taste-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em; 
        text-transform: uppercase;
        max-width: 412px;
        margin: 0 auto;
        margin-bottom: 28px;
}

.taste-title span{
    color: #FD9222;
}

.taste-text {
    color: #111;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em; 
        margin: 0 auto;
        margin-bottom: 50px;
        max-width: 486px;
        
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 32px;
}

.taste-item {
    width: calc((100% - 96px) / 4);
    padding: 28px 23px;
    background-color: #FD9222;
    border-radius: 15px;
    position: relative;
}

.taste-icon-obg {
    fill: transparent;
    stroke: #fafafa;
    position: absolute;
    top: 14px;
    right: 14px;
}

.taste-icon-wbg {
    fill: transparent;
    stroke: #FD9222;
    position: absolute;
    top: 14px;
    right: 14px;
}


.ti-white-bg{
background-color: #fff;
    border: 1px solid #FD9222;
}

.ti-black-bg{
background-color: #111;
}

.taste-img {
    margin-bottom: 36px;
}

.taste-subtitle {
    color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

.ti-sub-white-bg {
    color:#111
}

.ti-sub-black-bg {
color: #FFF;
}

/* made */

.made {
    padding-top: 60px;
    padding-bottom: 60px;
}

.made-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
max-width: 205px;
margin: 0 auto;
margin-bottom: 50px;
}

 .made-title span {
color: #FD9222;
 }

 .made-wrapper {
    display: flex;
    gap: 20px;
 }

.made-img {
    border-radius: 15px;
}

.made-content {
  padding: 32px;  
  background-color: #fff;
  border-radius: 15px;
 }

.made-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33; 
        max-width: 350px;  
        margin-bottom: 28px;
}

.made-list {
    
}

.made-item {
   margin-bottom: 24px;
   display: flex;
   gap: 8px; 
}

.made-item::before {
content: '';
width: 8px;
height: 8px;
background-color: #4C4C4C;
border-radius: 100%;
border: 1px solid #ECEDED;
display: block;
flex-shrink: 0;
margin-top: 5px;
}

.made-item:last-child {
margin-bottom: 0;
}

.made-item-text {
    color: #111;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

/* products */
.products {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 0 auto;
}

.products-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em; 
    text-transform: uppercase;
    max-width: 196px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.products-title span {
color: #FD9222;
}

.products-list {
    display: flex;
    gap: 24px 18px;
    flex-wrap: wrap;
}

.products-item {
    width: calc((100% - 54px) / 4);
    border-radius: 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: #FFF;
        padding: 32px 20px;

}

.products-img {
    margin-bottom: 8px;
}

.products-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em; 
        text-transform: uppercase;
        text-align: center;
}

.products-text {
    color: rgba(17, 17, 17, 0.70);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: -0.02em; 
        text-align: center;
        margin-bottom: 18px;
}

.products-price {
   display: flex;
   margin: 0 auto;
    color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
            border: 1px solid rgba(17, 17, 17, 0.10);
            background: #FAFAFA;
            padding: 8px 20px;
            
}

/* bestseller */

.bestseller {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.bestseller-title {   
  color:  #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        max-width: 160px;
        margin: 0 auto;
        margin-bottom: 50px;
}

.bestseller-title span{
    color: #FD9222;
}

.bestseller-list {
    display: flex;
    gap: 16px;
    
}

.bestseller-item {
    background-color: #fff;
    width: calc( (100% - 32px) / 3);  
}

.bestseller-item:hover .bestseller-cover-container {
transform: translateY(0);
}

.bestseller-item-wrap {
position: relative;
overflow: hidden;
}

.bestseller-img {
    border-radius: 15px 15px 0px 0px;
}

.bestseller-cover-container {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    padding: 0 40px;
    transform: translateY(100%);
    transition: transform 300ms linear;
    backdrop-filter: blur(7.5px);
        background: linear-gradient(165deg, rgba(253, 252, 255, 0.10), 3.97% rgba(8, 2, 21, 0.0) 109.76%);
}

.bestseller-cover-container-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #FFF;
}

.bestseller-subtitle-container {
    border-radius: 0px 0px 15px 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        border-top: none;
        background: #FFF;
        padding: 28px 0; 
}

.bestseller-subtitle {
    text-align: center;
}

/* review */

.review {
   padding-top: 60px;
   padding-bottom: 120px;
    margin: 0 auto;
}

.review-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 50px;
}

.review-title span{
color: #FD9222;
max-width: 268px;
margin: 0 auto;
margin-bottom: 50px;
}

.review-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.review-item {
width: calc((100% - 56px) / 3);
border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
padding: 56px 24px 24px 24px;
position: relative;
}

.review-img {
   width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    margin-bottom: 18px;
    position: absolute;
    top: -40px;
    right: 140px;
}

.review-subtitle {
color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 24px;
}

.review-text {
    color: rgba(17, 17, 17, 0.70);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

.review-btn {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
        border: 1px solid #FD9222;
        background-color: transparent;
        padding: 14px 40px;
        margin: 0 auto;
        display: flex;
        transition-property: color, border-color;
        transition-duration: 400ms;
        transition-timing-function: linear;
        }
                
.review-btn:hover {
    border-color: #FD9222;
    color: #FD9222;
    }


/* footer */

.footer {
background-color: #1E1823; 
padding-top: 50px;
padding-bottom: 50px;
margin: 0 auto;
}

.footer-top-content {
    display: flex;
    padding-bottom: 54px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.10);
    margin-bottom: 24px;
}

.footer-title {
    color: #FFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21; 
        letter-spacing: -0.02em; 
        max-width: 300px;
        margin-right: 510px;
}
.footer-title span{
    color: #FD9222;
}
.footer-social-conainer {
    max-width: 112px;
    margin-right: 50px;
}
.footer-subtitle {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        margin-bottom: 14px;
}

.footer-social-list { 
    display: flex;  
    gap: 14px;
}

.footer-social-item {
  
}

.footer-social-link {}

.social-icon-footer {
    fill: transparent;
        stroke: #fff;
        transition-property: stroke;
            transition-duration: 400ms;
            transition-timing-function: linear;
}

.social-icon-footer:hover {
    fill: transparent;
    stroke: #FD9222;
}

.footer-adress-container {
    max-width: 164px;
}

.footer-adress {}

.footer-adress-list {
   
}

.footer-adress-item {}

.footer-adress-link {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {}

.footer-nav-list {
    display: flex;
gap: 24px;}

.footer-nav-item {}

.footer-nav-link {
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
}

.subscribe-footer-btn {
    color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
padding: 17px 40px;
border-radius: 100px;
    background: #FD9222;
}


/* modal window */

.overlay {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #1e18237e;
}

.modal {
    
    width: 517px;
    min-height: 794px;
    border-radius: 15px;
    background-color: #FAFAFA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-title {
    color: #111;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        
        width: 298px;
}

.modal-title span {
    color: #FD9222;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}